/* styles.css */
* { 
	margin: 0; 
	padding: 0; 
	box-sizing: border-box; 
} 

body { 
	font-family: sans-serif; 
	background-color: rgb(250, 230, 192); 
	color:#590bf7; 
} 
h2 { 
	color:#590bf7;
	background-clip: text; 
	-webkit-background-clip: text; 
} 

.app { 
	display: flex; 
	flex-direction: column; 
	justify-content: center; 
	align-items: center; 
	width: 650px; 
	margin: 1rem auto; 
	padding: 10px; 
	gap: 20px; 
} 

.inputs { 
	width: 100%; 
	display: flex; 
	justify-content: space-between; 
	align-items: center; 
	gap: 20px; 
	height: fit-content; 
} 

.inputs>div { 
	height: 100%; 
	display: flex; 
	justify-content: space-between; 
	flex-direction: column; 
} 

label { 
	font-size: 0.9rem; 
} 

input, 
label { 
	display: block; 
} 

input { 
	margin-top: 8px; 
	margin-bottom: 5px; 
	padding: 10px; 
	font-size: large; 
	background-color: rgb(222, 47, 170); 
	color: white; 
	border: none; 
	border-radius: 5px; 
	width: 100%; 
} 

input:focus-visible { 
	outline: 2px solid rgb(222, 47, 170); 
} 

input::-webkit-outer-spin-button, 
input::-webkit-inner-spin-button { 
	-webkit-appearance: none; 
	margin: 0; 
} 

button{ display: block; cursor: pointer; border: none; } 

#submit { 
	width: 100%; 
	padding: 10px; 
	margin-bottom: 10px; 
	background-color: #5c23e3; 
	font-size: 1.3rem; 
	border-radius: 5px; 
	color: white; 
	font-weight: bold; 
	transition: scale 0.3s ease-in-out; 
} 

#editSection{ 
	width: 100%; 
	display: flex; 
	gap: 25px; 
	justify-content: space-between; 
} 

#editSection > button { 
	width: 100%; 
	padding: 10px; 
	margin-bottom: 10px; 
	font-size: 1.3rem; 
	border-radius: 5px; 
	color: white; 
	font-weight: bold; 
	transition: scale 0.3s ease-in-out; 
} 

#updateEntry { 
	background-color: #e92cad; } 

#cancelEdit{ background-color: #e92cad; } 

#submit:hover, #updateEntry:hover, #cancelEdit:hover { scale: 1.02; } 

.hidden{ display: none !important; } 

.edit, .delete{ 
	margin: 0 auto; 
	padding: 5px 10px; 
	font-size: 1.1rem; 
	border-radius: 5px; 
	background-color: transparent; 
	color: white; 
	border: 1px solid white; 
} 

.edit:hover, .delete:hover{ 
	background-color: #257adc; 
} 

table { 
	width: 100%; 
	border-collapse: collapse; 
	position: relative; 
	overflow: hidden; 
} 

th, 
td { 
	text-align: center; 
	padding: 10px; 
	border: 0; 
} 
tr:nth-child(even) { 
	background-color: rgb(222, 47, 170); 
} 

tr:nth-child(odd) { 
	background-color: rgb(222, 47, 170); 
} 

th { 
	font-size: 0.9rem; 
	background-color: rgb(222, 47, 170); 
} 

tbody > tr:hover{ 
	background-color: #e24cc2; 
	color: rgb(234, 103, 169); 
} 

.delete-animation{ 
	background-color: #ef44d0 !important; 
	animation: deleteAnimate 0.4s linear forwards; 
} 

@keyframes deleteAnimate{ 
	to{ 
		transform: translateX(100%); 
	} 
}
